html {
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
  min-height: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

/* Main Body Styling */
body {
  background-color: #191765;
  color: #fff;
  font-size: 1rem;
  min-height: 100%;
}

img:hover {
  border: 0.2rem solid red;
  border-radius: 50%;
}

* {
  padding: o;
  margin: 0;
  border: 0;
}

/* Beginning of TOPOGRAPHY */
h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 43.75rem;
  font-size: 5.625rem;
  line-height: 6.5625rem;
  text-align: center;
  color: #9391ff;
}

/* Header Softwear Developer>>> Topography */
.HSD {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 31.25rem;
  font-size: 2.5rem;
  line-height: 2.9375rem;
  text-align: center;
  color: #dfe1e6;
}

/* Main Description>>> Topography */
.Desc {
  margin-top: 6em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 25rem;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  color: #b3bac5;
}

/* Main Header */
.HD {
  margin-top: 0.5rem;
  margin-bottom: 0.2em;
}

/* Vertical Line */
.HRL {
  border: 2px solid rgb(53, 51, 51);
  width: 80%;
  margin: auto;
  margin-top: 2.5em;
  margin-bottom: 2.5rem;
}

/* Top Navigation Bar */
nav {
  width: 90%;
  height: 3rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-size: 1rem;
}

.nav2 {
  width: 80%;
  height: 6rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 1rem;
  margin-top: 6rem;
}

.navA {
  width: 50%;
  float: right;
}

.navB {
  width: 40%;
  float: left;
}

.navSpace {
  width: 5em;
  height: 0.001em;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: -2rem;
}

/* Main Section */
.section1 {
  width: 100%;
  margin: auto;
}

/* Main Container-1 */
.container-1 {
  width: 35%;
  margin: auto;
}

li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14.6667px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #fff;
  padding-right: 1rem;
}

.navL li {
  float: right;
  padding-left: 5em;
}

.HL {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 43rem;
  font-size: 1.1rem;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
  color: #9390ff;
}

.Tech-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Enclipe1 {
  position: absolute;
  width: 10em;
  height: 10em;
  left: 0.3em;
  top: 10em;
  background: #edecff;
  filter: blur(3em);
}

.Enclipe2 {
  position: absolute;
  width: 10em;
  height: 10em;
  left: 65em;
  top: 50em;
  background: #edecff;
  filter: blur(3em);
}

.works {
  margin-top: rem;
  border-color: #f00;
  height: 551vh;
  display: grid;
  justify-content: center;
  grid-template-columns: 80%;
  grid-template-rows: 15rem 30rem 30rem 30rem 30rem 50rem 5.5rem;
  grid-gap: 6rem;
  grid-template-areas:
    "title"
    "main1"
    "main2"
    "main3"
    "main4"
    "contact"
    "footer";
}

button:hover {
  color: #f00;
}

.buttonW {
  font-size: 1rem;
  color: white;
  width: 7rem;
  height: 3rem;
  text-align: center;
  background: #9390ff;
  flex: none;
}

.btnC {
  width: 100%;
}

.buttonS {
  font-size: 1rem;
  color: white;
  width: 9rem;
  height: 3rem;
  text-align: center;
  background: #9390ff;
  flex: none;
}

.WKT {
  margin-bottom: 4rem;
  margin-top: 3rem;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 4.3rem;
  display: flex;
  align-items: center;
  color: #fff;
}

.wfoot ul {
  position: relative;
  padding-right: 1rem;
}

.wfoot {
  font-family: inter, "Roboto", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1rem;
  color: #fff;
  margin-bottom: 2rem;
  margin-left: 0;
}

textarea {
  width: 100%;
  min-width: 2em;
  min-height: 6.25em;
  resize: none;
  columns: 60;
  padding: 0.7rem;
  margin: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 1rem;
  text-align: left;
  color: #81818c;
}

#names {
  width: 46.5em;
  max-lines: 0.6rem;
  position: relative;
  background: #f7f3ff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem;
  line-height: 1.8rem;
  text-align: left;
}

/* Email Input */
#email {
  color: #191765;
  width: 46.5em;
  position: relative;
  background: #f7f3ff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem;
  line-height: 1.8em;
  text-align: left;
}

/* contact Address Title */
.Cname {
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #7d73fc;
  font-size: 17px;
  line-height: 80px;
  letter-spacing: 0.3700000047683716px;
  text-align: center;
  font-style: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Owner contact email Address */
.Femail {
  width: 100%;
  padding-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 50;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 10rem;
}

form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  margin-top: 1.8rem;
}

.lkd {
  display: flex;
  border-width: 0;
  padding: 0;
  width: 20px;
  height: 19px;
  margin: 0;
}

.lki {
  position: static;
  width: 5px;
  height: 18px;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}

.fa {
  color: #fff;
}

.fa:hover {
  color: #f00;
}

.Title {
  grid-area: title;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont;
  font-style: normal;
  font-weight: 43.75rem;
  font-size: 3rem;
  line-height: 1147.125rem;
  display: flex;
  align-items: center;
  color: #9390ff;
}

.Wimage {
  width: 60%;
  background-color: #fff;
  border: 0;
  padding: 1rem;
}

/* Work Description */
.wkttl {
  width: 40%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 50;
  font-size: 2.5rem;
  line-height: 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #fff;
  padding-left: 1rem;
}

.wkttl h3 {
  width: 95%;
}

/* Work ) Project Description */
.WKdetail p {
  width: 100%;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.16rem;
  color: #dcdce8;
  line-height: 1.75rem;
  margin-bottom: 3rem;
}

.Cndetail p {
  padding-bottom: 1.7em;
  padding-top: 1em;
  width: 30rem;
  text-align: center;
  margin-top: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.75rem;
  color: #dcdce8;
  order: 0;
  flex-grow: 0;
}

.work1 {
  grid-area: main1;
  width: 100%;
  display: flex;
}

.work2 {
  grid-area: main2;
  width: 100%;
  display: flex;
}

.work3 {
  grid-area: main3;
  width: 100%;
  display: flex;
}

.work4 {
  grid-area: main4;
  width: 100%;
  display: flex;
}

.Contact-Form {
  grid-area: contact;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
}

.Footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

/* **************......... MEDIA QUERIES..........***************************
MAX-WITHDTH 650PX */
@media (max-width: 77rem) {
  html {
    font-size: 14px;
  }

  .Enclipe1 {
    position: absolute;
    width: 10em;
    height: 10em;
    left: 0.3em;
    top: 10em;
    background: #edecff;
    filter: blur(3em);
  }

  .Enclipe2 {
    position: absolute;
    width: 10em;
    height: 10em;
    left: 55em;
    top: 50em;
    background: #edecff;
    filter: blur(3em);
  }

  .navL li {
    padding-left: 1rem;
  }

  button {
    font-size: 1rem;
    width: 100%;
  }

  .navSpace {
    width: 0;
    height: 0;
  }

  .nav2 {
    width: 100%;
  }

  .Title {
    justify-content: center;
  }

  .social {
    order: 0;
  }

  .work1 {
    width: 100%;
  }

  .wkttl {
    width: 40%;
  }

  .Wimage {
    width: 60%;
  }

  .WKdetail p {
    margin-bottom: 0;
  }

  .WKT {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    line-height: 5rem;
  }
}

/* Mearnt for Small to Medium sized gadgets
like Tabs */
@media (max-width: 60rem) {
  html {
    font-size: 11px;
  }

  .Enclipe1 {
    position: absolute;
    width: 10em;
    height: 10em;
    left: 0.3em;
    top: 10em;
    background: #edecff;
    filter: blur(3em);
  }

  .Enclipe2 {
    position: absolute;
    width: 10em;
    height: 10em;
    left: 40em;
    top: 50em;
    background: #edecff;
    filter: blur(3em);
  }

  .navL li {
    padding-left: 1rem;
  }

  button {
    font-size: 1rem;
    width: 100%;
  }

  .navSpace {
    width: 0;
    height: 0;
  }

  .nav2 {
    width: 100%;
  }

  .Title {
    justify-content: center;
  }

  .social {
    order: 0;
  }

  .work1 {
    width: 100%;
  }

  .wkttl {
    width: 40%;
  }

  .Wimage {
    width: 60%;
  }

  .WKdetail p {
    margin-bottom: 0;
  }

  .WKT {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    line-height: 5rem;
  }
}

/* MAX-WITHDTH 350PX
Mearnt for Mobile Phones of all sizes */
@media (max-width: 45em) {
  html {
    font-size: 16px;
  }

  body {
    max-width: 45em;
  }

  .Enclipe1 {
    position: absolute;
    width: 10em;
    height: 10em;
    left: 0.3em;
    top: 10em;
    background: #edecff;
    filter: blur(3em);
  }

  .Enclipe2 {
    position: absolute;
    width: 10em;
    height: 10em;
    left: 20em;
    top: 50em;
    background: #edecff;
    filter: blur(3em);
  }

  .nav {
    height: 10rem;
  }

  .navA {
    height: 4rem;
  }

  .navL li {
    float: none;
    justify-content: right;
  }

  .container-1 {
    width: 95%;
    margin: auto;
  }

  .Wimage {
    height: 40%;
    width: 92%;
  }

  .wkttl {
    height: 60%;
    width: 95%;
  }

  .wfoot {
    margin-top: 2em;
  }

  .works {
    margin-top: rem;
    border-color: rgb(167, 161, 161);
    height: 881vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 95%;
    grid-template-rows: 20em 45em 45em 45em 45em 50em 1.5em;
    grid-gap: 6rem;
    grid-template-areas:

      "title"
      "main1"
      "main2"
      "main3"
      "main4"
      "contact"
      "footer";
  }

  button {
    width: 45%;
    font-size: 1rem;
  }

  .Title {
    font-size: 2.6rem;
  }

  .work1 {
    grid-area: main1;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .work2 {
    grid-area: main2;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .work3 {
    grid-area: main3;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .work4 {
    grid-area: main4;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .Contact-Form {
    grid-area: contact;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
  }

  textarea {
    width: 28em;
  }

  #names {
    width: 26em;
  }

  /* Email Input */
  #email {
    width: 26em;
  }

  .Tech-list {
    margin: auto;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
