html {
  font-size: 12px;
}

* {
  padding: o;
  margin: 0;
  border: 0;
}

/* Main Body Styling */
body {
  background-color: #191765;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

section {
  margin: auto;
  position: absolute;
  width: 86%;
  height: 98rem;
  left: 0;
  top: 9.33rem;
  right: 0;
  background: rgba(255, 255, 255, 0.16);
  border: 1px solid #fff;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.frame {
  height: 180vh;
  display: grid;
  justify-content: center;
  grid-template-columns: 95%;
  grid-template-rows: 6rem 42.1rem 19.6667rem 43.33rem 5rem;
  grid-gap: 4em;
  grid-template-areas:
    "title"
    "picture"
    "detail"
    "links"
    "buttons";
}

.title {
  grid-area: title;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ttl {
  width: 100%;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3.3em;
  line-height: 2.67em;
  color: #fff;
}

.xx {
  width: 3.33em;
  height: 3.33em;
}

.picture {
  grid-area: picture;
  background-image: url("images/Portfolio.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.detail {
  grid-area: detail;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 2em;
  width: 80%;
  left: calc(50% - 77% / 2);
  top: 87%;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.5em;
  color: #fff;
}

.links {
  grid-area: links;
}

.links .LK {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.67em;
}

.LK1 {
  display: flex;
  border-left: #edecff solid 0.02px;
  border-right: #edecff solid 0.02px;
  height: 4rem;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.buttons {
  grid-area: buttons;
}

button img {
  width: 2.916em;
  height: 2.916em;
}

.btn #live {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  gap: 1rem;
  position: absolute;
  width: 10.5em;
  height: 4em;
  left: calc(50% - 9em / 2 - 8.5833em);
  bottom: 7.5em;
  background: #7d73fc;
  box-shadow: 0 0.67em 1.3em rgba(125, 115, 252, 0.48);
}

.btn #source {
  color: #fff;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1em;
  gap: 1em;
  position: absolute;
  width: 11.5em;
  height: 4em;
  left: calc(50% - 10.333em / 2 + 7.58em);
  bottom: 90px;
  background: #7d73fc;
}

button:hover {
  background-color: #000;
}

.Enclipe1 {
  position: absolute;
  width: 10em;
  height: 10em;
  left: 0.3em;
  top: 10em;
  background: #edecff;
  filter: blur(3em);
}

.Enclipe2 {
  position: absolute;
  width: 10em;
  height: 10em;
  left: 65em;
  top: 67em;
  background: #edecff;
  filter: blur(3em);
}

/* Mearnt for Small to Medium sized gadgets
like Tabs */
@media (max-width: 90em) {
  .detail {
    margin-top: 0%;
    width: 80%;
  }
}

/* Mearnt for Small to Medium sized gadgets
like Tabs */
@media (max-width: 60em) {
  .detail {
    margin-top: -23%;
    width: 100%;
  }
}

/* MAX-WITHDTH 350PX
Mearnt for Mobile Phones of all sizes */
@media (max-width: 45em) {
  .detail {
    margin-top: -53%;
    width: 100%;
  }

  .ttl {
    font-size: 2.3rem;
  }

  .btn #source {
    bottom: 25px;
    left: 140px;
  }

  .btn #live {
    left: 145px;
  }
}
